body {
  font-family: $open-sans;
  font-size: 15px;
  font-weight: 300;
  color: $charcoal;
  // background: linear-gradient(rgba(255, 212, 0, 0.05), rgba(86, 159, 139, 0.26));
}

h1 {
  font-family: $montserrat;
  font-size: 48px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  font-family: $montserrat;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-family: $montserrat;
}

h5 {
  font-size: 16px;
}

a {
  color: $charcoal;
  white-space: nowrap;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid $canary;
  cursor: pointer;
}

.no-hover-effects {
  padding-bottom: 0px;
  border-bottom: none;
}

.no-hover-effects:hover {
  padding-bottom: 0px;
  border-bottom: none;
}

button, .button {
  font-family: $montserrat;
  font-size: 14px;
  background: $canary;
	color: white;
  text-transform: uppercase;
	padding: 8px 15px;
	border-radius: 100px;
	text-align: center;
  display: inline-block;
  min-width: 150px;
  height: 40px;
  line-height: 1;
  white-space: nowrap;
}

.hidden {
  display: none;
  visibility: hidden;
}
