.profile {
  width: 80%;
  margin: 0 auto;
}

.switch-tabs {
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
}

.switch-tabs > ul {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
}

.switch-tabs li {
  padding: 0 10px;
}

.my-recent-searches {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 60px;
}

.my-recent-searches > ul {
  list-style: circle;
  color: $canary;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-recent-searches li {
  margin: 20px;
  font-size: 20px;
}

.my-recent-searches a {
  font-family: $montserrat;
  color: $canary;
}
